.user-info {
    float: right;
    width: 20%;
    height: 64px;
    margin-right: 2%;
    color: white;
}
.user-info > div {
    position: relative;
    top: 30%;
}
.user-info .user-info-login,
.user-info .user-info-logoff {
    float: right;
}
.user-info .user-info-logoff {
    margin-left: 30px;
}

.user-info .user-info-login button,
.user-info .user-info-logoff button {
    border: 0;
    background: none;
    cursor: pointer;
    color: white;
}