<div class="user-info">
    <div>
        <span class="user-info-logoff">
            <span>
                <img src="/assets/imgs/header/ic-exit.png" alt="exit-logo">
            </span>
            <button (click)="logOut()">Log off</button>
        </span>        
        <span class="user-info-login">
            <span>
                <img src="/assets/imgs/header/ic-user.png" alt="user-logo">
            </span>
            <span *ngIf="user"> {{user.name.first | uppercase}} {{user.name.last | uppercase}}</span>
        </span>
    </div>
</div>