<div class="search-box">
    <form action="/" method="post">
        <img class="search-icon" src="/assets/imgs/courses-page/ic-search.png" alt="search-logo">
        <input placeholder="Text to search"
            type="text"
            name="searchCourseInput"
            (keyup)="search()"
            [(ngModel)]="inputValue">

        <!-- <button class="search-btn" (click)="search()" type="submit">Search</button> -->
    </form>
</div>
