.search-box {
    position: relative;
    .search-icon {
        position: absolute;
        left: 12px;
        top: 15px;
    }
    input {
        width: 360px;
        height: 48px;
        border-radius: 10px;
        margin-right: 10px;
        padding-left: 40px;
    }
    input, button {
        &:focus {
            outline: none;
        }
    }
    .search-btn {
        width: 100px;
        height: 48px;
        background: #9bc837;
        color: white;
        border-radius: 10px;
        border: none;
        font-family: SourceSansPro;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.56;
        letter-spacing: -0.13px;
        cursor: pointer;
        &:hover,
        &:active {
            font-weight: bold;
            letter-spacing: 0px;
        }
    }
}