<div class="add-edit-date-box">
    <label>
        <span class="add-edit-input-title">Date:</span>
        <span class="add-edit-required-tooltip">* required</span>
        <input
            #courseDate
            placeholder="mm-dd-yy"
            type="text"
            name="dateField"
            (blur)="leaveInput(courseDate.value)"
            [(ngModel)]="courseDate.value"/>
    </label>
</div>