<div class="add-edit-authors-box">
    <label>
        <span class="add-edit-input-title">Authors:</span>
        <span class="add-edit-required-tooltip">* required</span>
        <input placeholder="Add author" type="text" name="authorsField" [(ngModel)]="inputAuthors"/>
    </label>
</div>
