.login-page-box {
    width: 100%;
    height: 100%;
    overflow: auto;

    .login-page-form { 
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -200px 0 0 -185px;
        width: 370px;
        height: 300px;
        background: white;
        padding: 20px;
        box-sizing: border-box;
        .login-wrong-info-toolptip {
            font-family: SourceSansPro-Regular;
            font-size: 12px;
            color: #ff4e33;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        h2 {
            margin: 5px 0 20px 0;
            font-family: SourceSansPro;
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
        }

        .login-email-box input,
        .login-password-box input {
            display: block;
            margin: 10px 0;
            width: 100%;
            height: 35px;
            outline: none;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
            border-radius: 3px;
            border-color: #d9dbe3;
            border-style: solid;
            border-width: 1px;
        }
        
        .login-input-title {
            color: #525462;
            font-family: SourceSansPro;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.22px;
        }

        .login-required-tooltip {
            float: right;
            color:#6c7283;
            font-family: SourceSansPro;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.19px;
        }

        .login-submit-btn {
            width: 68px;
            height: 36px;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            font-family: SourceSansPro;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.57;
            letter-spacing: -0.1px;
            color: #a8a9b4;
            background: #d9dbe3;
            float: right;
            margin: 15px 0;
            &:hover,
            &:active {
                font-weight: bold;
            }
        }

        .login-forgot-pass {
            display: inline-block;
            margin: 20px;
            a {
                color: #5681ee;
                font-family: SourceSansPro;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.19px;
                &:hover,
                &:active {
                    font-weight: bold;
                }
            }
        }
    }
}