<div class="login-page-box">
    <form class="login-page-form" action="/" method="post">
        <h2>Login</h2>
        <label class="login-email-box">
            <span class="login-input-title">E-mail:</span>
            <span class="login-required-tooltip">* required</span>
            <input placeholder="Enter user name/e-mail" type="text" name="userNameField" [(ngModel)]="inputEmail"/>
        </label>
        <label class="login-password-box">
            <span class="login-input-title">Password:</span>
            <span class="login-required-tooltip">* required</span>
            <input placeholder="Enter password" type="password" name="userPasswordField" [(ngModel)]="inputPassword"/>
        </label>
        <button
            class="login-submit-btn"
            type="submit"
            (click)="loginUser()">
            Login
        </button>
        <span
            class="login-wrong-info-toolptip"
            *ngIf="!isInfoCorrect">Wrong user name/email or password
        </span>
        <span class="login-forgot-pass"><a href="">Forgot password ?</a></span>
    </form>
</div>
