.breadcrumbs {
    width: 100%;
    height: 65px;
    background: white;
    padding: 20px 0;
    box-sizing: border-box;
    h2 {
        margin: 0 2%;
        color: #2c2f3c;
        font-family: SourceSansPro;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
    }
}