.add-edit-page-box {
    width: 100%;
    height: 100%;
    overflow: auto;

    .add-edit-page-form { 
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -300px 0 0 -370px;
        width: 740px;
        background: white;
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        h2 {
            margin: 5px 0 20px 0;
            font-family: SourceSansPro;
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
        }
        .add-edit-title-box input,
        .add-edit-description-box textarea {
            display: block;
            margin: 10px 0;
            outline: none;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
            border-radius: 3px;
            border-color: #d9dbe3;
            border-style: solid;
            border-width: 1px;
        }
        .add-edit-title-box,
        .add-edit-description-box {
            width: 100%;
            input {
                width: 100%;
                height: 35px;
            }
            textarea {
                width: 100%;
                height: 100px;
                padding-top: 10px;
                padding-bottom: 10px;
                resize: none;
            }
        }        
        .add-edit-input-title {
            color: #525462;
            font-family: SourceSansPro;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.22px;
        }
        .add-edit-required-tooltip {
            float: right;
            color:#6c7283;
            font-family: SourceSansPro;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.19px;
        }
        .add-edit-save-btn,
        .add-edit-cancel-btn {
            width: 70px;
            height: 36px;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            font-family: SourceSansPro;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.57;
            letter-spacing: -0.1px;
            float: right;
            margin: 10px 0;
            &:hover,
            &:active {
                font-weight: bold;
            }
        }
        .add-edit-save-btn {
            color: #ffffff;
            background: #9bc837;
        }
        .add-edit-cancel-btn {
            color: #a8a9b4;
            background: #d9dbe3;
            margin-right: 20px;
        }
    }
}