<app-breadcrumbs></app-breadcrumbs>
<div class="add-edit-page-box">
    <form class="add-edit-page-form" action="/" method="post">
        <h2>New course</h2>
        <div class="add-edit-title-box">
            <label>
                <span class="add-edit-input-title">Title:</span>
                <span class="add-edit-required-tooltip">* required</span>
                <input placeholder="Add title" type="text" name="titleField" [(ngModel)]="inputTitle"/>
            </label>
        </div>
        <div class="add-edit-description-box">
            <label>
                <span class="add-edit-input-title">Description:</span>
                <span class="add-edit-required-tooltip">* required</span>
                <textarea name="descriptionField" placeholder="Add description" [(ngModel)]="inputDescription"></textarea>
            </label>
        </div>

        <!-- course duration component -->
        <app-course-duration
            [courseDuration]="inputDuration"
            (updatedDuration)="setCourseValue($event)">
        </app-course-duration>

        <!-- course date component -->
        <app-course-date-creation
            [courseDate]="inputDate"
            (updatedDate)="setCourseValue($event)">
        </app-course-date-creation>

        <!-- course author component -->
        <app-course-author></app-course-author>

        <button
            class="add-edit-save-btn"
            type="submit"
            (click)="save()">
            Save
        </button>
        <button
            class="add-edit-cancel-btn"
            type=""
            (click)="cancel()">
            Cancel
        </button>
    </form>
</div>
    