.add-edit-duration-box {
    width: 25%;
    .add-edit-required-tooltip {
        float: right;
        color:#6c7283;
        font-family: SourceSansPro;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.19px;
    }
    input {
        display: block;
        margin: 10px 0;
        outline: none;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        border-radius: 3px;
        border-color: #d9dbe3;
        border-style: solid;
        border-width: 1px;
        width: 100%;
        height: 35px;
    }
    .add-edit-input-title {
        color: #525462;
        font-family: SourceSansPro;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
    }
}