<div class="add-edit-duration-box">
    <label>
        <span class="add-edit-input-title">Duration:</span>
        <span class="add-edit-required-tooltip">* required</span>
        <input
            #courseDuration
            placeholder="minutes"
            type="text"
            name="durationField"
            (blur)="leaveInput(courseDuration.value)"
            [(ngModel)]="courseDuration.value"/>
    </label>
</div>
