<app-breadcrumbs></app-breadcrumbs>

<div class="courses-page-box clearfix">
    <app-search-box
        (searchCoursesByTitle)="getAvailableCourses($event)">
    </app-search-box>

    <app-courses-list
        [availableCourses]="availableCourses"
        (edited)="updateCourse($event)"
        (deleted)="removeCourse($event)">
    </app-courses-list>
    
    <app-load-more
        (loadedMore)="loadMore($event)">
    </app-load-more>
</div>
