.courses-page-box {
    background: #f2f3f7;
    min-height: 100%;
    padding: 20px 2%;
    margin-bottom: 105px;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}