.load-more-btn  {
    float: left;
    width: 100%;
    background: white;
    height: 48px;
    padding: 15px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 0;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.19px;
    button {
        color: #577ce6;
        background: none;
        border: none;
        cursor: pointer;
    }
}