.course-item-box {
    float: left;
    margin: 10px 0;
    border-radius: 8px;
    background: white;
    width: 100%;
    border: 2px solid;
    .course-item {
        float: left;
        width: 80%;
        box-sizing: border-box;
        padding: 15px;
        position: relative;
        line-height: 1.5em;
        .course-item-title {
            font-family: SourceSansPro;
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
        }
        .top-rated-icon {
            position: absolute;
            left: 5px;
            top: 5px;
        
        }
        .course-item-description {
            font-family: SourceSansPro;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
        }
        .course-item-duration {
            position: absolute;
            right: 150px;
            top: 40px;
        }
        .course-item-date {
            position: absolute;
            right: 20px;
            top: 40px;
        }
        .course-item-date,
        .course-item-duration {
            font-family: SourceSansPro;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #b9bdce;
        }
    }
    .course-item-btns {
        float: right;
        width: 20%;
        box-sizing: border-box;
        padding: 5% 0;
        font-family: SourceSansPro;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: -0.09px;
        button {
            width: 30%;
            height: 24px;
            float: right;
            border-radius: 3px;
            background: #30b6dd;
            border: none;
            color: white;
            margin-right: 10%;;
            cursor: pointer;
        }
    }
}
.top-rated-course-item {
    background: rgb(148, 319, 189);
}