<div 
  class="course-item-box"
  [ngClass]="{'top-rated-course-item': course.topRated}"
  [appChangeBorderBasedOnDate]="course.date">
    <div class="course-item">
        <h1 class="course-item-title">
            {{course.name | uppercase}}
        </h1>
        <span
            class="top-rated-icon" 
            *ngIf="course.topRated">
            <img width="20px" src="/assets/imgs/courses-page/678064-star-128.png" alt="star-icon">
        </span>
        <p class="course-item-description">
            {{course.description}}
        </p>
        <span class="course-item-duration">{{course.length | timeDuration}}</span>
        <span class="course-item-date">{{course.date | date}}</span>
        <span *ngIf="course.isTopRated"></span>
    </div>

    <div class="course-item-btns">
        <button class="course-item-edit" (click)="updateCourse()">Edit</button>
        <button class="course-item-delete" (click)="removeCourse()">Delete</button>
    </div>
</div>
