<section class="courses-list-box clearfix">

<div class="add-course">
    <button (click)="addCourse()">+ Add course</button>
</div>

<ng-container *ngIf="availableCourses && availableCourses.length" >
    <app-course-item
        *ngFor="let course of availableCourses | orderByDate:'date'; let courseIndex = index"
        [course]="course"
        (updated)="editCourseItem(courseIndex)"
        (removed)="deleteCourseItem(courseIndex)">
    </app-course-item>
</ng-container>

<app-courses-unavailable *ngIf="!availableCourses || !availableCourses.length"></app-courses-unavailable>

</section>