.courses-list-box {
    .add-course {
        float: right;
        button {
            width: 138px;
            height: 36px;
            font-family: SourceSansPro;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.57;
            letter-spacing: -0.1px;
            border-radius: 3px;
            background: #30b6dd;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}