.footer {
    background: #414452;
    height: 65px;
    width: 100%;;
    padding: 10px 2%;
    color: #c0c3ce;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    box-sizing: border-box;
    text-align: right;
}